body {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #f4f4f4;
  padding: 10px;
}

.container {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

button {
  padding: 5px 7px;
  cursor: pointer;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  appearance: textfield;
}

.add-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.form-title {
  margin: 0;
  font-size: 18px;
  text-align: center;
}
.form-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-field {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.form-field label {
  font-size: 14px;
  margin-bottom: 5px;
}
.form-field input {
  flex: 1;
}
.submit-button {
  align-self: self-end;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}
th,
td {
  padding: 10px 15px;
  border: 1px solid #ddd;
  text-align: left;
}
th {
  background-color: #f0f0f0;
  color: #333;
}
tr:nth-child(even) {
  background-color: #fafafa;
}
.page-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.current-page {
  display: flex;
  align-items: center;
  gap: 5px;
}
.page-input {
  width: 3ch;
}
.no-employees {
  text-align: center;
  color: #999;
  font-size: 18px;
  margin-top: 40px;
}
